# Banco de dados
MYSQL_USER=root
MYSQL_PASSWORD= # Sua senha aqui
MYSQL_DATABASE=recantoceuazul
MYSQL_PORT=3306

# Configurações do Broker MQTT
MQTT_URL= # URL do broker
MQTT_USERNAME= # usuário do broker
MQTT_PASSWORD= # Senho do broker
MQTT_CLIENTID= # Id do Cliente que a api vai receber
MQTT_TOPIC= # Tópico que a API vai assinar

# API
API_PORT=8081

# WEB
WEB_PORT=8080