<!doctype html>
<html lang="pt-br">
<head>
    <link href="customStyles.css" rel="stylesheet">
    <title>Recanto do Céu Azul</title>
    <link rel="icon" type="image/png" href="/images/rcu_logo.png">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <!-- Bootstrap CSS v5.2.1 -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
    />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary gradient-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Residencial Recanto do Céu Azul</a>
            </div>
        </nav>
    </header>
    <main>
        <form class="form-signin" action="index.html" method="get">
            <h1 class="h3 mb-3 d-flex justify-content-center font-weight-normal">Cadastro</h1>
            <div class="mb-3">
                <label for="nome" class="sr-only">Nome Completo</label>
                <input type="text" id="nome" class="form-control" placeholder="Nome completo" required>
            </div>
            <div class="mb-3">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control" placeholder="exemplo@email.com" required>
            </div>
            <div class="mb-3">
                <label for="telefone" class="sr-only">Telefone</label>
                <input type="tel" id="telefone" class="form-control" placeholder="(11) 11111-1111" pattern="\([0-9]{2}\) ?[0-9]{4,5}-[0-9]{4}" title="O formato deve ser (XX) XXXXX-XXXX ou (XX) XXXX-XXXX" required>
            </div>
            <div class="mb-3">
                <label for="senha" class="sr-only">Senha</label>
                <input type="password" id="senha" class="form-control" placeholder="Senha" required>
            </div>
            <div class="mb-3">
                <label for="senhaConfirma" class="sr-only">Insira a senha novamente</label>
                <input type="password" id="senhaConfirma" class="form-control" placeholder="Senha" required>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
            </div>
        </form>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
    ></script>
    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
    ></script>
</body>
</html>
